/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 6, 2016, 3:44:20 PM
    Author     : Jake Langreck
*/
#header { margin-top:5%;
background-color: #fafafa;
border-bottom: 1px solid #f5f5f5;
}
.main{clear:both;}
h3 {text-align:center;}



#myNavbar{
  
color:black;
background-color: #f5f5f5;
border-bottom: 1px solid #e5e5e5;
  
}


table, th, td {
    border-collapse: collapse;
    border-radius:2px;
   
}



#myNavbar ul li a {color:black;}

.navbar{
background-color: #f5f5f5;
border-bottom: 1px solid #e5e5e5;}

.sbar {
    font-size:12px;
    border-radius:2px;
    padding:3px;
     border: 1px solid lightblue;
     vertical-align:middle;
     margin-top:3%;
}

#content {

margin-bottom:5%;

}

.btn-info {padding:5px; 
           font-size:11px;
          border-radius:4px; 
border: 1px solid #0054b4;
box-shadow: 0 1px 0 dodgerblue;
color: #fff;
text-shadow: 0 -1px 0 rgba(0,0,0,0.15);
background-color: dodgerblue;
}

input[type="submit"]{
   padding:4px;
    vertical-align: middle;
margin-top:2%;
    font-weight: 200;
  
    line-height: 1;
    text-align: center;
  
    
    border-radius: 2px;
    

}

#tablehead {
    background-color:#fff !important;
    border: 2px solid #eee !important;
    border-radius: 4px !important;
    border-bottom:8px solid dodgerblue !important;
 padding:10px;
   font-size:24px;
    
}

th{
   padding-left:18px !important;
   padding-right:18px !important;
   
   text-align:center!important;
   font-size:12px;
   border-left:none;
   border-right:none;
}

.adminth{
   padding-left:18px !important;
   padding-right:18px !important;
   
   text-align:center!important;
   font-size:12px;
   border-left:none;
   border-right:none;
}

.thead{color: #68777d;
background-color: #f2f9fc;
border: 1px solid #c9e6f2;
border-top-right-radius: 4px;
border-top-left-radius:4px;
}

td{
   padding-left:24px !important;
   padding-right:24px !important;
   border-top:1px solid #c9e6f2;
   border-bottom:1px solid #c9e6f2;
   padding:5px;
   
   text-align:center!important;
   font-size:12px;
   border-radius:4px;
}

.admintd {
     padding-left:16px !important;
   padding-right:18px !important;
   border-top:1px solid #c9e6f2;
   border-bottom:1px solid #c9e6f2;
   padding:6px;
   text-align:center!important;
   font-size:12px;
   border-radius:4px;
}

.addtd {
     padding-left:16px !important;
   padding-right:18px !important;

   border:none;
   text-align:center!important;
   font-size:12px;
   padding:8px;
   
}

.addtable {
    padding:10px;
}

table {
    border: 1px solid #c9e6f2;
    border-radius: 4px;

}
#addbn {
    float:right;
    color:#fff;
}

.btn a {
    color:#fff;
}
.btn{
    padding:3px;
    font-size:10px;
    border: 1px solid #0054B4;
box-shadow: 0 1px 0 dodgerblue;
color: #fff!important;
text-shadow: 0 -1px 0 rgba(0,0,0,0.15);
background-color: dodgerblue;
}

.dropdown-menu > li > a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #fff;
    white-space: nowrap;
}

.dropdown-menu{
    min-width:0;
    padding:1px; 
          border-radius:3px; 
border: 1px solid #0054bc;
box-shadow: 0 1px 0 dodgerblue;
color: #fff!important;
text-shadow: 0 -1px 0 rgba(0,0,0,0.15);
background-color: dodgerblue;
font-size:11px;
text-align:center;
}

#fright {
    float:right;
    font-size:12px;
}

