/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 6, 2016, 3:44:20 PM
    Author     : Jake Langreck
*/
#header { margin-top:5%;
background-color: #fafafa;
border-bottom: 1px solid #f5f5f5;
}
.main{clear:both;}
h3 {text-align:center;}



#myNavbar{
  
color:black;
background-color: #f5f5f5;
border-bottom: 1px solid #e5e5e5;
  
}


table, th, td {
    border-collapse: collapse;
   
}



#myNavbar ul li a {color:black;}

.navbar{
background-color: #f5f5f5;
border-bottom: 1px solid #e5e5e5;}

.sbar {
    font-size:12px;
    border-radius:2px;
    padding:3px;
     border: 1px solid lightblue;
     vertical-align:middle;
     margin-top:3%;
}

#content {

margin-bottom:5%;

}

.btn-info {padding:1px; 
          border-radius:3px; 
border: 1px solid #5aad35;
box-shadow: 0 1px 0 #6cc644;
color: #fff;
text-shadow: 0 -1px 0 rgba(0,0,0,0.15);
background-color: #6cc644;
}

input[type="submit"]{
   padding:4px;
    vertical-align: middle;
margin-top:2%;
    font-weight: 200;
  
    line-height: 1;
    text-align: center;
  
    
    border-radius: 2px;
    

}

#tablehead {
    background-color:#fff !important;
    border: 2px solid #eee !important;
    border-radius: 4px !important;
    border-bottom:8px solid dodgerblue !important;
 padding:10px;
   font-size:24px;
    
}

th{
   padding-left:18px !important;
   padding-right:18px !important;
   
   text-align:center!important;
   font-size:12px;
   border-left:none;
   border-right:none;
}



td{
   padding-left:22px !important;
   padding-right:22px !important;
   border-top:1px solid #eee;
   border-bottom:1px solid #eee;
   text-align:center!important;
   font-size:12px;
   border-radius:4px;
}

table {
    border: 2px solid #eee;
    border-radius: 4px;

}


